name: Unit tests (elm-test)

on:
  workflow_call:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Enable corepack
        run: corepack enable

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: elm-test
        run: pnpm exec elm-test

      - name: 'notify vercel'
        if: always()
        uses: 'vercel/repository-dispatch/actions/status@v1'
        with:
          name: "Vercel - parked-domain: unit-test"
          token: ${{ secrets.GITHUB_TOKEN }}
          sha: ${{ github.event.client_payload.git.sha || github.sha }}
          state: ${{ job.status == 'success' && 'success' || job.status == 'failure' && 'failure' || 'error' }}
